<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Machine Simulation</title>
    </head>
    <body>
        <div class="">
            <input id="numberField"type="number" name="name" placeholder="Please enter number of steps">
             <input id="button" type="submit" value="Start">
        </div>




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script type="text/javascript">
            // Once the submit button is clicked, generate the ajax request
            $("#button").click(function() {
                // Get the value of the input field
                const steps = $("#numberField").val();
                // Send ajax put request and append the value to url,
                // So it's easy to fetch the data from url
                // Redirect to the main page in case of success request
                
                $.ajax({
                    url: '/?steps='+steps,
                    type: 'PUT',
                    async: false,
                    data: {},
                    success: function(data) {
                        window.location.href = '/'
                    },
                    error: function () {
                        alert('Sorry, something went wrong :(');
                    }
                });
            });
        </script>

    </body>
</html>
